<div class="container p-4">
    <div class="row">
        {{!--cambiar por tabla con datos  --}}
        <label for="titu">Relación de las citas programadas que nunca fueron canceladas y que no se presentó el paciente. </label>
        <table class="table table-hovered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"> numero de cita medica</th>        
                </tr>
            </thead>
          {{#each consulta3}}  
            <tbody>                
                <tr>
                    <td>{{id}}</td>
                </tr>
            {{else }}
            </tbody>
        </table>        
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay datos </p>
             {{!--   <a href="/links/add">ingresar nuevo</a>--}}
            </div>
        </div>
        {{/each}}
    </div>
</div>