<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">SALUDHOY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{#if user}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            informacion
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/links">informacion medicos</a>
            <a class="dropdown-item" href="/links/add">agregar medico</a>
            <a class="dropdown-item" href="/pacientes">informacion pacientes</a>
            <a class="dropdown-item" href="/pacientes/add">agregar paciente</a>
          </div>
        </li>
        <li class="nav-item">
          <a href="/profile" class="nav-link">mi informacion</a>
        </li>
        <li class="nav-item">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Consultas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/consultas">consulta 1</a>
            <a class="dropdown-item" href="/consultas2">consulta 2 </a>
            <a class="dropdown-item" href="/consultas3">consulta 3</a>
          </div>
        </li>

        <a href="/logout" class="nav-link">salir</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a href="/signin" class="nav-link">ingresar</a>
        </li>
        <li class="nav-item">
          <a href="/signup" class="nav-link">registrarse</a>
        </li>

        {{/if}}

        <li class="nav-item">
          <a class="nav-link" href="#">tramites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">acerca de nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Administrador</a>
        </li>
      </ul>
    </div>

  </div>
</nav>