<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <div class="card-body">
                    <form action="/links/add" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="id" placeholder="identificacion" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="nombre" placeholder="nombre" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="apellido" placeholder="apellido" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" name="id_especialidad"
                                placeholder="id especialidad" autofocus min="801" max="807">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="direccion" placeholder="direccion" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" name="id_municipio" placeholder="id municipio"
                                autofocus min="11101" max="11114">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" name="id_tipo_id" placeholder="tipo de id"
                                autofocus min="1100001" max="1100004">
                        </div>

                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>